version: 2
jobs:
  build-and-test:
    docker:
      - image: nixpkgs/nix
    steps:
      - checkout
      - run:
          name: Run release.nix
          command: nix-build release.nix
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-and-test
